/* Global Styles */
body {
  background-color: skyblue; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  font-family: Arial, sans-serif; 
}
.container {
  background-color: gray; 
  width: 400px; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: #333; 
  margin-bottom: 20px;
}
.TodoInput, .TodoList {
  margin-top: 10px;
}
button {
  background-color: #f5f5dc; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  color: #333; 
  font-size: 1rem; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #e4e4c1; 
}
